/*main containers*/

#main {
  width: 70%;
  margin: auto;
  background-color: rgba(255,255,255, .45);
  height: 100%;
  color: black;
}

#top-left {
  vertical-align: bottom;
  position: relative;
  padding-left: 1%;
  text-align: center;
  float: left;

}

#top-right {
  text-align: left;
  margin: 5%;
}

/*section dividers*/

.section {
  box-shadow: 0px 8px 10px -6px black;
  width: 100%;
  clear:both;
  margin-top: 2%;
  padding-top: 3%;  
  padding-bottom: 3%;
  background-color: rgba(47,79,79, 1);
  text-align: center;
  font-size: 2em;
}

/*navigation bar*/

.nav li {
  display:inline;
}

.nav a {
  display:inline-block;
  padding:10px;
  color: white;
}

.nav {
  top: 0;
  left: 0;
  width: 100%;
  height: 7%;
  font-size: 1.5em;
  font-family: 'Lato', sans-serif;
  position: fixed;
  list-style:none;
  margin:0;
  padding:0;
  background-color: #708090;
  z-index: 10;

}

/*stack section*/

.stack-box {
  color: white;
  -moz-box-shadow:    1px 3px 5px 1px black;
  -webkit-box-shadow: 1px 3px 5px 1px black;
  box-shadow:         1px 3px 5px 1px black;
  background-color: #131B2A;
  opacity: 0.7;
  border-radius: 10px;
  display: inline-block;
  margin: 5px;
  height: 200px;
  min-width: 200px;
  padding: 3px;
  text-align: center;
  vertical-align: top;
  width: 17%;
}

.app-img {
  -moz-box-shadow:    2px 3px 5px 1px black;
  -webkit-box-shadow: 2px 3px 5px 1px black;
  box-shadow:         2px 3px 5px 1px black;
  padding: 0;
  margin: 1%;
  min-width: 300px;
}

#bg {
  max-width: 100%;
  max-height: 100%;
  padding-top: 5%;
}

img#me {
  border-radius: 4%;
  max-width: 80%;
  -moz-box-shadow:    2px 3px 10px 1px black;
  -webkit-box-shadow: 2px 3px 10px 1px black;
  box-shadow:         0px 10px 10px -6px black;
  padding: 0;
  margin: 1%;
}

.wiggle {
  padding: 0;
  vertical-align: top;
}

ul#contacts, ul.stack-list {
  list-style:none;
  padding: 0;
}

/*jcarousel*/

.jcarousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: auto;
}

.jcarousel ul {
  margin: auto;
  width: 300%;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

.jcarousel li {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  float: left;
  text-align: center;
}

body {
  background-color: #708090;
  background-position:center;
  text-align: center;
  color: white;
  font-size: 1em;
  font-family: 'Cambria', sans-serif;
}

/*#font {
  font-family: 'Cambria', sans-serif;
  font-weight: 400;*/

}

img {border-radius: 1%; padding: 5px;}

h1 {font-size: 2.3em; text-align: center;}

a {text-decoration: none; color: #2F4F4F;}

p#portfolio, p#resume, p#stack {
    text-align: center;
    width: 60%;
    margin: auto;
}


a.jcarousel-prev, a.jcarousel-next, a.app-link {color: #000000; font-weight: bold;}
a.app-link:hover, a.jcarousel-prev:hover, a.jcarousel-next:hover {color: white;}

a:hover{color: #000000;}

hr {border: 0;
    height: 3px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}



