.o, .x {
  font-size: 30px;
  color: red;
}


#x {
  text-align: left; 
  float: right;
  margin-right: 60%;
  margin-top: 5%;

}

#o {
    float: right;
    text-align: left; 
    margin-top: 5%;
}

#court {
  float: left;

}

#ball {
   float: right;
    text-align: left; 
    margin-right: 60%;
    margin-top: 1%

}