

#court {
  float: right;
  position: absolute;
  padding: 50px;

}

.draggables {
  font-size: 30px;
  color: red;
  position: absolute;
  float: right;
  cursor: move;
}

.offense {
  text-align: right;
  padding-right: 200px;
}

.defense {
  text-align: right;
  padding-right: 200px;
}

  